.header
  background: linear-gradient(to left bottom,#abbaab , #fff )
  height: 150px
  padding: 4px
  padding-bottom: 0
  display: flex
  flex-flow:  row nowrap

  .nav
    align-self: flex-end
    flex: 1 0 10%

    .main-menu
      display: flex
      flex-flow: row nowrap
      justify-content: space-evenly
      align-content: flex-end
      margin-bottom: 0

      &--item
        flex: 1 0 100px


  h1
    text:
      transform: uppercase
      align: center
    color: #485563
    font:
      weight: 600
      size: 2rem
      family: 'Orbitron',sans-serif

    letter-spacing: 3px
    line-height: 50px

    word-spacing: 1rem

  h2
    font:
      variant: small-caps
      size: 1.25rem
      weight: 200
      family: 'Aldrich',sans-serif
    letter-spacing: 1px
    text:
      align: center
      transform: lowercase
      indent: -10%
    color: #29323c
    align-self: center

  .main-menu
    list-style: none

    &__item
      cursor: pointer
      padding: 1rem 1rem
      font:
        size: 1.05rem
        weight: 400
        family: 'Aldrich',sans-serif

      color: #4e54c8
      letter-spacing: .5px
      border-radius: 50%
      transition: all .4s  ease


      &:hover
        background: linear-gradient(#9bc5c3 50%, #616161 100%)
        box-shadow:  0 4px transparentize(#4e54c8, .6)
        transform: translateY(-4px)

      &:active
        background: #859398
        color: #fff
        transform: translateY(-2px)
        box-shadow:  0 2px transparentize(#4e54c8, .6)
