<header class="header">
  <h1>Criptium</h1>
  <h2>the best crypto market</h2>
  <nav class="nav">
    <ul class="main-menu">
      <li class="main-menu__item">Exchange</li>
      <li class="main-menu__item">Margin Trading</li>
      <li class="main-menu__item">Lending</li>
    </ul>
  </nav>
</header>;
