  <div class="crypto-widget__options-bar">
    <div class="crypto-widget__options-header">
      <h2 class="crypto-widget__options-header-1">Market Settings</h2>
    </div>
    <div class="crypto-widget__row">
      <div class="crypto-widget__header--font">Rows To Display</div>

      <ul class="crypto-widget__row-item">
        <li *ngFor="let row of rowsToDisplay">
          <button [ngClass]="{'active': marketInterface.rowsToDisplay === row}"
            (click)="marketInterface.rowsToDisplay = row">{{row}}</button>
        </li>
      </ul>
    </div>
    <div class="crypto-widget__row">
      <div class="crypto-widget__header--font">Right Column</div>
      <ul class="crypto-widget__row-item">
        <li *ngFor="let col of rightColumn">
          <button [ngClass]="{'active': marketInterface.rightColumn === col}"
            (click)="marketInterface.rightColumn = col">{{col}}</button>
        </li>
      </ul>
    </div>
    <div class="crypto-widget__row">
      <div class="crypto-widget__header--font">Quick <i class="fa fa-heart"></i> Select</div>
      <ul class="crypto-widget__row-item">
        <li *ngFor="let select of quickSelect">
          <button [ngClass]="{'active': marketInterface.quickSelect === select}"
            (click)="marketInterface.quickSelect = select">{{select}}</button>
        </li>
       </ul>
    </div>
  </div>
