.crypto-widget__options
  &-bar
    position: absolute
    left: -270px
    top: 32px
    display: flex
    flex-flow: column
    align-items: stretch
    background:  #fff
    background-clip: padding-box
    border: 1px solid #91abac
    border-radius: 5px
    line-height: 1rem
    width: 300px
    z-index: 99

  &-header
    &-1
      padding-left: 1rem
      font:
        weight: 400
        size: 1.2rem
        family: 'Raleway', sans-serif

    &__rows
      display: flex

      &--tabs
        display: flex
        list-style: none

.crypto-widget__row
  display: flex
  justify-content: space-around
  align-items: baseline

  &-item
    list-style: none
    display: flex
    flex-flow: row nowrap

    li
      button
        padding: .5rem
        border-radius: 5px 0 0 5px
        border-left-width: 1px
        border: 1px solid #91abac
        background: #F3F9A7
        transition: background-color .4s ease-in
        &:hover
          background: #CAC531

.active
  outline: none
  background: rgba(102, 90, 46, .8) !important
  color: #fff
  font-weight: 500

.crypto-widget__header--font
  font:
    family: 'Raleway', sans-serif
    size: 125%

