.wrapper
  max-width: 960px
  margin: 0 auto
  background-color: #fff
  padding: 32px

  .main-div
    width: 100%
    height: 78vh
    position: relative
    display: flex
    justify-content: flex-end
    align-items: flex-start

    .crypto-widget
      margin:
        top: 1rem
        right: 1rem
      //max-height: 500px
      width: 300px
      border: 2px solid
      display: flex
      flex-flow: column wrap


      &__header
        display: flex
        align-items: center
        justify-content: space-between
        background: linear-gradient(to left, #ADA996,#ADA996,#DBDBDB,#DBDBDB)

        &--1
          margin-left: .4rem
          font-weight: 300
          font-family: 'Aldrich' ,sans-serif

        &--right
          border: none
          justify-self: flex-end
          position: relative

        &--align
          display: flex
          justify-content: space-between
          align-content: flex-end

      &__checkbox
        position: relative
        width: 2rem
        height: 1rem
        -webkit-appearance: none
        -moz-appearance: none
        background: #c6c6c6
        outline: none
        border-radius: 0.625rem
        transition: all .5s linear
        box-shadow: inset 0 0 5px rgba(0,0,0,.2)

        &:checked
          background: darken(#D3CCE3, .2)

          &:checked:before
            left: 1rem

        &:before
          content: ''
          position: absolute
          width: 1rem
          height: 1rem
          border-radius: 1.25rem
          top: 0
          left: 0
          background: #fff
          transform:  scale(1.1)
          box-shadow: 0 2px 5px rgba(0,0,0,.2)
          transition: all .5s linear

      &__search
        width: 7rem
        height: 1.5rem
        background-color: #fff
        color: black
        padding:
          right: 1rem
          left: 1.2rem
        border-radius: .6rem
        border-color: transparent

        &:active,
        &:focus
          outline: none


      &__sub
        display: flex
        justify-content: space-between

      &__tabs
        display: flex
        justify-content: space-between
        align-items: center
        ul
          display: flex
          flex-flow:  row nowrap
          list-style: none
          justify-content: space-between
          align-items: flex-end
          margin-bottom: 0

          li
            button
              margin-right: .25rem
              border: none
              background:  #D3CBB8
              padding: .5rem

              &:hover
                background: #E9E4F0



      &__options
        display: flex
        position: relative
        flex-flow: column nowrap
        justify-content: center
        margin-right: .5rem

        span
          opacity: .4
          transition: all .3s ease-out
          padding: 2px
          border: 1px solid transparent
          border-radius: 5px

          &:hover
            opacity: 1
            border-color: #000

      &--arrow
        position: absolute
        top: 1.5rem
        z-index: 100
        width: 0
        height: 0
        border-left: 10px solid transparent
        border-right: 10px solid transparent
        border-bottom: 10px solid #000

      &--line
        height: 1vh
        background: darken(#D3CCE3, .2)

      &__table
        margin: 0
        list-style: none
        display: flex
        flex-flow: row nowrap
        justify-content: space-evenly
        padding-left: 0

        &--bg-1
          background: linear-gradient(to left, #ADA996,#ADA996,#DBDBDB,#DBDBDB)

        &--bg-2
          font-family: 'Lato', sans-serif
          transition: all .4s .2s ease-in
          background: linear-gradient(to left bottom,#E9E4F0 30%, #fff 40%)
          &:hover
            //background: linear-gradient(to left, #ADA996,#ADA996)
            background: linear-gradient(to left, #abbaab,#ADA996)
          &:hover .crypto-widget--btn-1
            transform: scale(1.2)
            opacity: 1

        li
          padding: .6rem
          flex: 2
          &:first-of-type
            flex: 1

      &--btn-1
        border: none
        background: transparent
        opacity: .5
        transition: transform .3s linear, opacity .3s linear
        &:hover
          transform: scale(1.2)
          opacity: 1
        &:active,
        &:focus
          outline: none


      &--justify
        display: flex
        justify-content: flex-end

      &--center
        text-align: center
  .fa
    &.fa-heart
      color: black
    &.fa-question-circle-o
      font-size: 1.1rem
      position: absolute
      top: 50%
      left: .25rem
      transform: translateY(-50%)

.active
  outline: none
  color: #fff
  background: darken(#D3CCE3, .2) !important

.positive
  color: green
  &:before
    content: '+'
    color: green

.negative
  color: red
  &:before
    content: '-'
    color: red

.arrow-down:after
  content: '\25b2'
  position: absolute
.arrow-up:after
  content: "\25bc"
  position: absolute

.tab-header
  font:
    weight: 500
    size: .8rem
    family: 'Aldrich', sans-serif
