<div class="wrapper">
<app-crypto-header></app-crypto-header>
  <section class="main-section">
    <div class="main-div">
      <div class="crypto-widget">
      <div class="crypto-widget__header">
        <h1 class="crypto-widget__header--1">
          Market
        </h1>
        <div class="crypto-widget__header--align">
          <input (change)="displayOnlyFavorite = !displayOnlyFavorite" type="checkbox" class="crypto-widget__checkbox">
          <label>show <i class="fa fa-heart" aria-hidden="true"></i> only
          </label>
        </div>
        <div class="crypto-widget__header--right">
          <span class="fa fa-question-circle-o"></span>
          <input type="text" class="crypto-widget__search" [placeholder]="'Filter (Crtl+F)'" [(ngModel)]="marketInterface.filterWord">
        </div>
      </div>
       <div class="crypto-widget__sub">
         <div class="crypto-widget__tabs">
           <ul>
             <li>
               <button  [class.active]="true">USDT</button>
             </li>
           </ul>
         </div>
         <div class="crypto-widget__options">
           <span class="fa fa-cog fa-2x" (click)="displayOptions = !displayOptions"></span>
           <app-crypto-options [(ngModel)]="marketInterface" *ngIf="displayOptions"></app-crypto-options>
           <div class="crypto-widget--arrow" *ngIf="displayOptions"></div>
         </div>
       </div>
         <div class="crypto-widget--line"></div>
        <div class="crypto-widget__data crypto-widget__table--bg-1">
            <ul class="crypto-widget__table">
              <li class="crypto-widget--center" (click)="sortCrypt('icon')" ><i class="fa fa-heart"></i></li>
              <li (click)="sortCrypt('coin')" [ngClass]="{
                'arrow-down': sortingInterface.sortingAttr === 'coin' && sortingInterface.sortingOrder === 'desc',
                'arrow-up': sortingInterface.sortingAttr === 'coin' && sortingInterface.sortingOrder === 'asc',
                'tab-header': true
              }">Coin  </li>
              <li (click)="sortCrypt('price')" [ngClass]="{
                'arrow-down': sortingInterface.sortingAttr === 'price' && sortingInterface.sortingOrder === 'desc',
                'arrow-up': sortingInterface.sortingAttr === 'price' && sortingInterface.sortingOrder === 'asc',
               'tab-header': true

              }">Price </li>
              <li (click)="sortCrypt('volume')" [ngClass]="{
                'arrow-down': sortingInterface.sortingAttr === 'volume' && sortingInterface.sortingOrder === 'desc',
                'arrow-up': sortingInterface.sortingAttr === 'volume' && sortingInterface.sortingOrder === 'asc',
                'tab-header': true
              }">Volume </li>
                <li (click)="sortCrypt('change')" [ngClass]="{
                'arrow-down': sortingInterface.sortingAttr === 'change' && sortingInterface.sortingOrder === 'desc',
                'arrow-up': sortingInterface.sortingAttr === 'change' && sortingInterface.sortingOrder === 'asc',
                'tab-header': true
              }">Change </li>
            </ul>
        </div>
        <div *ngFor="let curr of getCurrencies">
          <ul class="crypto-widget__table crypto-widget__table--bg-2" *ngIf="curr">
            <li class="crypto_widget--justify">
              <button (click)="setFavorite(curr)" class="crypto-widget--btn-1">
                <i class="fa" [ngClass]="{'fa-heart-o': !curr.isFavorite, 'fa-heart': curr.isFavorite}"></i>
              </button>
            </li>
            <li [ngStyle]="{'font-weight': 'bold','font-size': '.8rem'}">{{curr['coin'] | uppercase}}</li>
            <li class="crypto-widget--center">{{curr['last'] | number : '1.3-3'}}</li>
            <li class="crypto-widget--center">{{curr['quoteVolume'] | number : '1.3-3' }}</li>
            <li [ngClass]="{
            'positive': !isNegative(curr['percentChange']),
            'negative': isNegative(curr['percentChange']),
              'crypto-widget--justify': true
            }">{{curr['percentChange'] | number : '1.3-3' }}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</div>
