@import url('https://fonts.googleapis.com/css?family=Aldrich|Lato|Orbitron|Raleway|Roboto')

*
  box-sizing: border-box

body
  font:
    size: 10px
    family: 'Roboto', sans-serif
  background-color: #f3f3f3
